*{
    margin:0%;
    padding:0%;
    scroll-behavior: smooth;
}
.navbar{
    height: 3.5rem;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .name p {
        margin-left: 20px;
        font-size: larger;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }   
}
.link{
    font-weight: bold;
    min-width: 40%;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    a{
        text-decoration: none;
        color: black;
    }
}
.home{
    text-align: center;
    min-height: 92vh;
    min-width: 100%;
    background-image: url(./images/IMG20210718162156-EDIT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(90%);
    transition: filter 0.5s ease-in-out;

    h1{
        color: #2B2B2B;
        font-size: 58px;
        transition: transform 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
    }
}
.home:hover {
   filter: grayscale(0%);
}
.home:hover h1 {
    transform: scale(1.2);
    letter-spacing: 7px;
}

.about{
   
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3f2fd;
}
.text{
    padding-left: 30px;
    font-size: 18px;
    flex-basis: 55%;
    line-height: 25px;
    h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 46px;
        line-height: 50px;
    }
   
}

.me{
    margin-left: 20%;
    flex-basis: 40%;
   
    img{
        border-radius: 10%;
        max-height: 70vh;
        max-width: 35vw;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }
}
.svg{
    margin-top: 30px;
    max-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        height: 35px;
        width: 35px;
        transition: transform 0.3s ease-in-out;
    }
}
.svg img:hover{
    transform: translateX(4px);
}
.skills{
    background-color: #ade8f4;
    min-height: 70vh;
    p{
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkgreen;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

.icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    img{
        background-color: white;
        border-radius: 50%;
        padding: 15px;
        margin: 5%;
        width: 4%;
        height: 4%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.516);
        transition: transform 0.3s ease-in-out;
    }
}

.icons img:hover{
    transform: translateY(-7px);
    
}
.icons img[title]:hover {
    position: relative;
}
  
.icons img[title]:hover:before {
    content: attr(title);
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: #fff;
    padding: 5px;
    font-size: large;
    border: 1px solid #ddd;
    text-align: center;
}

.gallery{
    background-color: #e3f2fd;
    max-height: 100vh;
    p{
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkgreen;
        padding-top: 3%;
        
    }
}
.images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    img{
        background-color:#2B2B2B;
        padding: 25px;
        margin: 3%;
        width: 200px;
        height: 120px;
       margin-bottom: 4%;
       filter: brightness(0.4);
       transition: transform 0.3s ease-in-out;
    }
}
.images img:hover{
    transform: translateY(-15px);
    filter: brightness(1);
    border-radius: 15px;
}

footer{
    padding: 15px;
    min-height: 35px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #2B2B2B;
    background-color: #fff;
}
